body {
    background-image: url('pics/xyz.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Home {
    padding:25px;
    margin:35px;
    background-color:gainsboro;
    align-items: center;
    height:auto;
    width:auto;
    border-radius:23px;
    opacity:0.8;
}

#Submit {
    background-color: lawngreen;
    padding: 10px;
    height: 50px;
    width: 250px;
    margin: 30px;
    border-radius: 45px;
}
.button {
    background-color: lawngreen;
    padding: 10px;
    height: 50px;
    width: 150px;
    margin: 30px;
    border-radius: 45px;
}
